@page "/Downloads"
@attribute [type: RenderModeInteractiveServer]
@using ServiceStack;
@inject NavigationManager NavigationManager
@inject BrowserService BrowserService

<PageTitle>Downloads</PageTitle>
@if (APIRequestInPogress)
{
    <div class="modal fade show" id="myModal" style="display:inline-flex" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0">
                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
}

<StatusMessage Message="@statusMessage" />

<div class="accordion" id="downloadsAccordion">
    @foreach (WebDownloadLink webDownloadLinkGroup in webDownloadLinks.DistinctBy(x => x.GroupDescription).OrderByDescending(x => x.GroupDisplayOrder))
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id=@webDownloadLinkGroup.GroupDescription>
                <button @onclick='(() => OnToggleAccordionItemExpanded(webDownloadLinkGroup))' class=@String.Format("accordion-button{0}", @webDownloadLinkGroup.GroupExpanded ? "" : " collapsed") type="button" data-bs-toggle="collapse" data-bs-target=@String.Format("#collapsed{0}", @webDownloadLinkGroup.GroupDescription) aria-expanded=@webDownloadLinkGroup.GroupExpanded aria-controls=@String.Format("collapsed{0}", @webDownloadLinkGroup.GroupDescription)>
                    @webDownloadLinkGroup.GroupDescription
                </button>
            </h2>
            <div id=@String.Format("collapsed{0}", @webDownloadLinkGroup.GroupDescription) class=@String.Format("accordion-collapse collapse{0}", @webDownloadLinkGroup.GroupExpanded ? " show" : "") aria-labelledby=@webDownloadLinkGroup.GroupDescription data-bs-parent="#downloadsAccordion">
                <div class="accordion-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped small">
                            <thead>
                                <tr>
                                    <th>File</th>
                                    <th class="text-end">Size</th>
                                    <th class="text-end">Date</th>
                                    <th>Comment</th>                            
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (WebDownloadLink webDownloadLink in webDownloadLinks.Where(x => x.GroupDescription == webDownloadLinkGroup.GroupDescription).OrderByDescending(x => x.DisplayOrder))
                                {
                                    <tr>
                                        <td class="align-middle"><a href="@webDownloadLink.URL">@webDownloadLink.DisplayText</a></td>
                                        <td class="text-end align-middle">@webDownloadLink.Size</td>
                                        <td class="text-end align-middle">@webDownloadLink.PublishDate.ToString("dd MMM yyyy")</td>
                                        <td class="align-middle">@((MarkupString)@webDownloadLink.Comment)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code{    
    private bool APIRequestInPogress;
    private string? statusMessage;
    private List<WebDownloadLink> webDownloadLinks { get; set; } = new List<WebDownloadLink>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();        

        WebDownloadLinksGETRequest webDownloadLinksGETRequest = new WebDownloadLinksGETRequest();

        bool oldAPIRequestInPogress = APIRequestInPogress;
        try
        {
            webDownloadLinks = await JiwaAPI.GetAsync(webDownloadLinksGETRequest, null, Config.JiwaAPIKey);
            if (webDownloadLinks != null && webDownloadLinks.Count > 0)
            {
                webDownloadLinks[0].GroupExpanded = true;
            }
        }
        catch (Exception ex)
        {
            statusMessage = ex.Message;
        }
        finally
        {
            APIRequestInPogress = oldAPIRequestInPogress;
        }
    }          

    private async Task OnToggleAccordionItemExpanded(WebDownloadLink webDownloadLinkGroup)
    {
        webDownloadLinkGroup.GroupExpanded = !webDownloadLinkGroup.GroupExpanded;
    }
}